.dietContainer{
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.dietContainer p, h3 {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}


.dietContainer li{
    color: black;
    padding: 5px;
    list-style: none;

}
.servings{
    width: 70%;
    padding: 2px;
    padding-left: 5px;
    margin: 10px;
    margin-left: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    padding-bottom: 10px;
    transition: all 0.3s ease;
    text-align: center;
    letter-spacing: 1px;
}

.list_button{
margin-left: 4px;
border-radius: 5px;
border: 1px solid #ccc;
cursor: pointer;
transition: all 0.3s ease;
background-color: #49b5fd;
color: white;
padding: 4px;
font-size: 16px;
display: none;
}

.list_button:hover{
    background-color: #347cac;

}

.input_dish{
    width: 70%;
    transition: all 0.3s ease;
    padding: 6px;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.servings:focus{
    border-color: #3498db;
}
.listing{
    /* height: 250px; */
    padding: 6px;
    /* padding: 50px; */
}

.dropdown, .listing{
    border: 1px solid #777;
    border-radius: 10px;
    outline: none;
}

.dropdown{
    height: 3vh;
    overflow: scroll;
    transition: all 0.3s ease;
    border-radius: 10px;
    width: 60vh;
    background-color: white;
}

.dropdown.open {
    height: 30vh;
    /* z-index: 1;
    position:absolute; */
    transition: all 0.3s ease;
}

.listItem:hover{
    scale: 1.2;
    border-width: 0px;
    transition: scale 0.5s ease;
}

.submission {
    background-color: #3498db;
    color: white;
    padding: 12px;
    width: 90%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

.submission:hover, .add:hover {
    background-color: #2980b9;
}

.Output ul > li{
    border: 1px solid #ccc;
    max-height: 30vh;
    overflow: hidden;
    transition: all 0.3s ease;
    background: rgb(1, 82, 82);
    color: white;
    /* position: absolute; */
    /* z-index: 0; */
    /* background-color: white; */
    /* width: 60vh; */
    /* left: 68vh; */
}

.foodList{
    background: rgb(1, 82, 82);
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 80%;
    display: inline-block;
    margin: 1rem;
}

.foodList > li{
    color: white;
    border-bottom: 1px solid white;
    font-size: 16px;
}

.add{
    /* background-color: #43aff7; */
    background: rgb(1, 82, 82);
    color: white;
    padding: 4px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 10px ;
    letter-spacing: 2px;
}