.dietContainer{
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.dietContainer p, h3 {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}


.dietContainer li{
    color: black;
    padding: 5px;
    list-style: none;
}
.dietContainer input{
    width: 90%;
    padding: 2px;
    padding-left: 5px;
    margin: 10px;
    margin-left: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    padding-bottom: 10px;
    transition: all 0.3s ease;
}

.dietContainer input:focus{
    border-color: #3498db;
}
.listing{
    /* height: 250px; */
    padding: 6px;
    /* padding: 50px; */
}

.dropdown, .listing{
    border: 1px solid #777;
    border-radius: 10px;
    outline: none;
}


.dropdown{
    max-height: 50px;
    overflow: scroll;
    transition: all 0.5s ease;
    /* border: 1px solid #2980b9; */
    border-radius: 10px;
    /* border-width: 5px; */
}

.dropdown::before{
    content: "...(hover for more)";
    color: black;
}

.dropdown:hover, .dropdown:hover:before{
max-height: 30vh;
content: none;
}

.listItem{
    margin: 10px;
    color : white;
}

.listItem:hover{
    scale: 1.2;
    border-width: 0px;
    transition: scale 0.5s ease;
}

.dietContainer button {
    background-color: #3498db;
    color: white;
    padding: 12px;
    width: 90%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dietContainer button:hover {
    background-color: #2980b9;
}

.Output{
    border: 1px solid #2980b9;
    border-radius: 10px;
    border-width: 5px;
    max-height: 20px;
    overflow: hidden;
    transition: all 0.5s ease;
    
}

.Output::before{
    content: "Results";
    color: black;
    transition: all 0.5s ease;
}

.Output:hover, .Output:hover:before{
    max-height: 20vh;
    content: none;
}