.root{
    width: auto;
    margin: 1px;
    padding: 1px;
    /* margin-top: auto; */
}

body{
    overflow: scroll;
}
/* body{
    margin-top: auto;
}
 */

@media screen and (max-width: 900px) and (min-width: 769px){
    html{
        transform: scale(0.9);
    }
}


@media screen and (max-width: 768px) and (min-width: 420px){ 
    html{
        transform: scale(0.8);
    }

}
