.root{
    width: 750px;
}

@media screen and (max-width: 900px) {
    html{
        transform: scale(0.95);
    }
}


@media screen and (max-width: 768){ 
    html{
        transform: scale(0.9);
    }
}
