/* Container for the form */
.container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

}

/* Header Text */
.container p, .container h3 {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

/* Form Fields */
input[type="number"],
input[type="time"],
select {
    width: 100%;
    padding: 2px;
    padding-left: 5px;
    margin: 10px;
    margin-left: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    padding-bottom: 10px;
    transition: all 0.3s ease;
}

input[type="number"]:focus,
input[type="time"]:focus,
select:focus {
    border-color: #3498db;
}

/* Submit Button */
button {
    background-color: #3498db;
    color: white;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Responsive Design */
@media screen and (max-width: 480px) {
    .container {
        padding: 20px;
    }
    button {
        padding: 10px;
    }
}
